[Desktop Entry]
Version=1.01
Encoding=UTF-8
Name=Crudenome
Comment=Framework de développement d'applications Gnome
Exec=/home/billerot/Git/crudenome/venv/bin/python /home/billerot/Git/crudenome/crudenome.py
Icon=/home/billerot/Git/crudenome/crudenome.jpg
Terminal=false
Type=Application
StartupNotify=true
Name[fr_FR]=crudenome.desktop
Categories=GNOME;GTK;Utility;Framework
