[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Crudenome
Comment=Framework de développemens d'application Gnome
Exec=/mnt/nas/git/crudenome/crudenome.py
Icon=/mnt/nas/git/crudenome/crudenome.jpg
Terminal=false
Type=Application
StartupNotify=true
Name[fr_FR]=crudenome.desktop
Categories=GNOME;GTK;Utility;Framework
