
.invalid {
    background: #ffaaaa;
}

.read_only {
    background: lightgrey;
}
.button_selected {
    /*background: #E5CD89;*/
    /*color: blue;*/
    font-weight: 900;
}
.action {
    background: #ffaaaa;
}