
.field_invalid {
    /*background: #ffaaaa;*/
    border-color: #ffaaaa;
}
.error {
    color: red;
}
.read_only {
    background: lightgrey;
}
.button_selected {
    /*background: #E5CD89;*/
    /*color: blue;*/
    font-weight: 900;
}
.action {
    background: #ffaaaa;
}